@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  height: 100%;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  min-height: 64px;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo-header {
  position: absolute;
  width: 140px;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  margin-left: 168px;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  list-style-type: none;
}

.main-navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  opacity: 0.6;
}

.main-navigation-link:active {
  opacity: 0.3;
}

.main-navigation-link-current::before {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756157;
  content: "";
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  width: 310px;
  list-style-type: none;
}

.navigation-user-link {
  display: block;
  padding: 22px 12px;
  min-width: 44px;
  min-height: 64px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.navigation-user-link-search{
  background-image: url("../images/search-icon.svg");
  background-size: 20px 20px;
}

.navigation-user-link-liked-hotels{
  position: relative;
  background-image: url("../images/like-icon.svg");
  background-size: 20px 20px;
}

.count-liked-hotels {
  position: absolute;
  top: 10px;
  right: 4px;
  padding: 5px 5px 5px 4px;
  min-width: 20px;
  min-height: 20px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 999px;
}

.navigation-user-link:hover,
.navigation-user-link:focus {
  opacity: 0.3;
}

.button {
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  min-width: 92px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: 0;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: rgba(97, 80, 72, 1);
}s

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: rgba(229, 229, 229, 1);
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover,
.button-blue:hover:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:rgba(130, 179, 211, 1);
}

.navigation-user-search-button {
  margin-left: 20px;
  padding-right: 34px;
  padding-left: 34px;
  text-decoration: none;
}

.navigation-user-link {
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding: 51px 371px 82px;
  min-height: 485px;
  background-color: #8daab8;
  background: url("../images/index-background-decoration.svg") no-repeat bottom,
              url("../images/index-background.jpg") no-repeat;
  background-size: 100% auto, cover;
}

.hero-image {
  display: block;
}

.section-title {
  text-align: center;
}

.section-title h2{
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.section-title p {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.section-title-advantages {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.section-title-advantages h2{
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 621px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-title {
  margin: 0;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-title::after {
  display: block;
  content: "";
  margin: 30px auto;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-image .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 102px 85px;
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.advantages-item-description {
  margin: 0;
  min-height: 42px;
  word-wrap: break-word;
}

.advantages-item-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-image h3 {
  color: #ffffff;
}

.advantages-item-image:last-child {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-photo {
  object-fit: cover;
  height: 100%;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.section-title-services {
  padding: 64px 347.5px;
  text-align: center;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.services-item {
  padding: 81px 85px;
  width: 400px;
}

.services-item-content {
  padding-top: 102px;
  min-height: 223px;
}

.services-item:nth-child(1) .services-item-content {
  background-image: url("../images/service-accommodation.svg");
  background-repeat: no-repeat;
  background-position:top;
}

.services-item:nth-child(2) .services-item-content {
  background-image: url("../images/service-food.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.services-item:nth-child(3) .services-item-content {
  background-image: url("../images/service-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.services-item:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-item-description {
  margin: 0;
}

.services-seach {
  padding: 96px 304px;
  text-align: center;
}

.section-title-services-seach p {
  margin-bottom: 54px;
  max-width: 592px;
}

.services-seach-button {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.subscription {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscription-index {
  background-color: #8daab8;
  background: url("../images/subscribe.jpg") no-repeat;
  background-size: cover;
  color: #ffffff;
}

.section-title-subscription p {
  margin: 0 auto 54px;
  max-width: 475px;
}

.section-title-subscription-index h2 {
  color: #ffffff;
}

.section-title-subscription-index p {
  color: #ffffff;
}

.subscription-form {
  display: flex;
}

.form-control {
  min-width: 452px;
  min-height: 52px;
  padding-left: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: 0;
  border-radius: 4px 0 0 4px;
  background-color: rgba(242, 242, 242, 1);
}

.subscribe-button {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.page-footer-container {
  display: flex;
  align-items: center;
  min-height: 120px;
  margin: 0;
  padding: 40px 70px 30px;
}

.socials-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.socials-item {
  width: 47px;
  height: 40px;
  display: flex;
}

.socials-link {
  margin: auto;
  display: flex;
}

.socials-link-icon {
  margin: auto;
}

.social-link-icon path:hover,
.social-link-icon path:focus {
  fill: rgba(104, 162, 202, 1);
}

.social-link-icon path:active  {
  fill: rgba(104, 162, 202, 0.3);
}

.socials-contacts {
  max-width: 150px;
  margin-right: 236px;
}

.phone {
  max-width: 750px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.phone-number:hover,
.phone-number:focus {
  color: rgba(117, 97, 87, 1);
}

.phone-number:active {
  color:rgba(117, 97, 87, 0.3);
}

.developer {
  margin-left: auto;
  max-width: 120px;
}

.footer-logo path:hover,
.footer-logo path:focus {
  fill: rgba(117, 97, 87, 1);
}

.footer-logo path:active {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}

.search-hotels {
  padding: 35px 70px 70px;
  min-height: 412px;
  background-color: #8daab8;
  background: url("../images/filter.jpg") no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.search-hotels h1 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  min-width: 13px;
  height: 21px;
}

.breadcrumbs-item:not(:first-child):before {
  display: inline-block;
  content: "";
  margin-right: 10px;
  width: 8px;
  height: 100%;
  background-image: url("../images/breadcrumbs_decoration.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6)
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3)
}

.breadcrumbs-link-main {
  display: block;
  margin: 3px 0;
  width: 13px;
  height: 15px;
  background-image: url("../images/home_breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.catalog-filter-group.infrastacture {
  margin-right: 70px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  display: flex;
  line-height: 23px;
}

.control-input {
  margin: 0;
}

.control-input[type="checkbox"] {
  appearance: none;
}

.checkbox-mark {
  background-color: #ffffff;
  border-radius: 4px;
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .checkbox-mark{
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: center top 5px;
}

.control-input[type="radio"] {
  appearance: none;
}

.radio-mark {
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  cursor: pointer;
}

.control-input[type="radio"]:checked + .radio-mark {
  background-image: url("../images/radio_selected.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.infrastacture-accomodation-fieldsets-container{
  display: flex;
}

.price-fieldset-buttons-container {
  display: flex;
}

.catalog-filter-label {
  position: relative;
}

.range-wrapper-inputs {
  margin-bottom: 44px;
}

.range-input {
  padding: 0;
  padding-left: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 143px;
  height: 48px;
  border: 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

.range-input-from {
  border-radius: 4px 0 0 4px;
}

.range-input-to {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  color: #aaaaaa;
}

.range {
  height: 12px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-filter-buttons {
  margin-top: 56px;
  margin-left: 70px;
  width: 191px;
}

.submit-button {
  margin-bottom: 32px;
}

.reset-button {
  background-color: transparent;
  border: none;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.reset-button:focus {
  color: rgba(255, 255, 255, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  background-color: transparent;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.search-results {
  padding: 50px 70px 60px;
}

.search-results-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
}

.search-results-count {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.sorting-container {
  margin-left: auto;
}

.select-control {
  position: relative;
  padding-left: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  min-height: 49px;
  color: rgba(51, 51, 51, 1);
  background-image: url("../images/select_decoration.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  border-width: 2px;
  border-radius: 4px;
  border-color: rgba(229, 229, 229, 1);
}

.select-control:hover {
  border-color: rgba(104, 162, 202, 1);
}

.select-control:focus {
  border: none;
  outline: 2px solid rgba(104, 162, 202, 1);
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.cards-view {
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 160px;
}

.cards-view-format {
  width: 48px;
  height: 48px;
  border: solid 2px rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.cards-view-format:hover {
  border-color: rgba(0, 0, 0, 1);
}

.cards-view-format:focus {
  border-color: rgba(104, 162, 202, 1);
}

.cards-view-format:active {
  border-color: rgba(0, 0, 0, 1);
}

.cards-format {
  background: url("../images/cards-view.svg") no-repeat;
  background-position: center;
}

.card-format {
  background: url("../images/card-view.svg") no-repeat;
  background-position: center;
}

.list-of-cards-format {
  background: url("../images/list-of-cards.svg") no-repeat;
  background-position: center;
}

.format-selected {
  border-color: rgba(0, 0, 0, 1);
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  gap: 20px;
  list-style-type: none;
}

.card {
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card-image {
  grid-column: 1 / -1;
}

.card h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  grid-column: 1 / -1;
}

.card-type {
  margin: 0;
}

.card-price {
  margin: 0;
  margin-left: auto;
}

.card-more-button {
  padding-left: 26px;
  padding-right: 26px;
  text-decoration: none;
}

.favourites-button {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.favourites-button-selected {
  padding-left: 17px;
  padding-right: 17px;
  background-color: #7DB54F;
}

.favourites-button-selected:hover,
.favourites-button-selected:focus {
  background-color: rgba(108, 158, 66, 1);
}

.favourites-button-selected:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:rgba(125, 181, 79, 1);
}

.stars {
  margin: 0;
  width: 140px;
  height: 37px;
}

.stars-2 {
  background-image: url("../images/stars-2.svg");
}

.stars-3 {
  background-image: url("../images/stars-3.svg");
}

.stars-4 {
  background-image: url("../images/stars-4.svg");
}

.rating {
  margin: 0;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.hotel-rating p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link span {
  margin: auto;
  height: 36px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:active {
  background-color: #82B3D3;
}

.pagination-link:active span {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link.dots {
  color: #000000;
  background-color: transparent;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}
